@media screen and (max-width:576px) {
    .nav-section {
        padding: 20px;
    }

    .items {
        flex-direction: column;
    }

    .items a {
        display: none;
    }

    .bar {
        display: block;
    }

    .banner-title {
        font-size: 24px;
        padding-bottom: -10px;
    }

    .banner-para {
        padding-bottom: 10px;
    }

    .input-section {
        flex-direction: column;
        max-width: 200px;
        height: 220px;
        padding: 10px;
    }

    .popular-tour {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 20px;
        max-width: 576px;
    }

    .text-section {
        width: 100%;
    }

    .img-section img {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .grid-img {
        flex-direction: column;
        padding: 20px;
    }

    .text-img,
    .text-img1,
    .text-img2,
    .text-img3,
    .text-img4,
    .text-img5,
    .text-img6 {
        width: 400px;
        height: 300px;
    }

    .grid-layout-box {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .box-section1,
    .box-section2,
    .box-section3 {
        height: 300px;
        width: 400px;
    }

    .box-section3 {
        margin-left: 7%
    }

    .place-section {
        flex-direction: column;
        padding: 20px;
    }

    .place-section-texts {
        width: 100%;
        padding: 20px;
    }

    .place-sec-img {
        width: 100%;
        height: 480px;
    }

    .deal-img-sections {
        background-image: url(../Images/Group\ 39.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 500px;
    }

    .deal-img-section {
        background-image: url(../Images/Group\ 40.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 500px;
    }

    .flex-deal {
        margin-left: 5%;
        margin-top: 56px;
        padding-top: 56px;
        padding: 10px;
        width: 379px;
        height: 389px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
    }

    .flex-deal-middle {
        margin-left: 5%;
        margin-top: 56px;
        padding-top: 56px;
        padding: 10px;
        width: 379px;
        height: 389px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);

    }

    .newsletter-section {
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
    }

    .rotate {
        transform: translateX(100px) translateY(160px) rotate(-30deg);
    }

    .footer-section {
        width: 100%;
        height: 700px;
        background: rgba(19, 19, 24, 0.05);
        margin: 0 auto;
        padding-top: 110px;
    }

    .footer-icon {
        flex-direction: column;
    }

    .app-section {
        flex-direction: column;
        height: 100%;
        width: 100%;

    }

    .img-app-sec img {
        width: 100%;
        border-radius: 16px;
    }

    .text-app-section h1 {
        margin-bottom: 24px;
    }

    .text-app-section p {
        margin-top: 24px;
    }

    .qr-app-section img {
        width: 50%;
    }

}