@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    max-width: 1250px;
    margin: 0 auto;
}
.nav-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon i{
    font-size: 40px;
    color: crimson;
}
.travel{
    color: crimson;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.items a{
    text-decoration: none;
    font-size: 18px;
}