@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    max-width: 1250px;
    margin: 0 auto;
}
.nav-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon i{
    font-size: 40px;
    color: crimson;
}
.travel{
    color: crimson;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.items a{
    text-decoration: none;
    font-size: 18px;
}
.bar{
    display: none;
}


/* Banner Section */
.banner-section{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(180deg, rgb(61, 61, 61), transparent), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding-top: 106px;
}
.banner-para{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 24px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 48px;
}

.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 74px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    border-radius: 5px;
   }

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);;
   gap: 10px;
}
.bg{
    background-color: crimson;
    color: wheat;
}

/* Popular Tour */
.popular-tour{
    display: flex;
    align-items: center;
    padding-top: 100px;
    width: 1250px;
    margin: 0 auto;
    justify-content: space-between;
   }
 .text-section{
    width: 50%;
 }
 .text-section h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
 }
 .text-section p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
 }
li{
    margin-bottom: 24px;
 }
 .btn{
    padding: 15px 22px;
    background-color: crimson;
    border-style: none;
    margin-top: 32px;

 }
 .img-section{
    height: 540px;
    width: 550px;
 }